@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    font-weight: 300;
}
html{
    font-size: 62.5;
}
.m1{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(209, 34%, 75%);
}
.m2{
    width: 40vw;
    background-color: rgb(224, 224, 237);
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0,0,0,0.4);
}

.m2 h2{
    font-size:2.5rem;
    font-weight:400;
    margin:1rem 0 4rem 0;
}

.m2 li{
    font-size:1.5rem;
    margin-top: 1.5rem;
    list-style: none; 
}

input{
    cursor:pointer;
}

#Submit{
    padding: 1rem 2rem;
    outline: none;
    font-size: 2rem;
    font-size: 400;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: aliceblue;
    background-color: #74b9ff;
    margin-top: 4rem;
    cursor: pointer;
}

#Submit:hover{
    background-color: #081d31;   
}

#showScore{
    background-color: azure;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0,0,0,0.4);
}

#showScore .btn{
    margin-top: 2rem;
    background-color: aqua;
    color: brown;
}
#showScore .btn:hover {
    background-color: aqua;
    color: white;
}
.scoreArea{
    display: none;
}